body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#main{
  width: 592px;
  margin:0 auto 64px;
}

#main img{
  margin-bottom: 72px;
}

Span{
  color: #EE24FF;
}

p{
  color:#828282;
  font-size: 14px;
  margin:0 auto 28;
}
 
#footer strong{
  color: black;
  margin: 28px;
}


.line{
  width: 568px;
  height: 0px;
  margin: 0 auto 16px;
  border: 1px solid #eceff2;
}

#Wave {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
}
